{% extends 'MVT/base.html' %}
{% block titulo %} Buscar Animal por nombre {% endblock %}
{% block contenido %}
    
      <form action="/buscar/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
      </form>

      {% for a in lista_animales %}
        <ul>
            <li> Nombre : {{a.nombre}} , Raza : {{a.raza}}, Edad : {{a.edad}} </li>
        </ul>
        {% endfor %}

      {% for a in lista_empleado %}
        <ul>
            <li> Nombre : {{a.nombre}} , Area : {{a.area}}, Años de antiguedad : {{a.años_de_antiguedad}} </li>
        </ul>
        {% endfor %}

      {% for a in lista_cliente %}
        <ul>
            <li> Nombre : {{a.nombre}} , Producto : {{a.producto}}, Numero de cliente : {{a.numero_de_cliente}} </li>
        </ul>
        {% endfor %}

      {% endblock %}
